.container-flex {
    border: 3px solid orange;
    display: flex;
    resize: both;
    overflow: auto;
}

.wrap {
    flex-wrap: wrap;
}

.items {
    height: 100px;
    width: 100px;
    background-color: green;
}

.items:nth-child(even) {
    background-color: purple;
}